<template>
    <br>
    <div class="container">
       <!-- Button Consultor and Cliente -->
      <div class="row g-3">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <div>
            <label class="btn btn-outline-primary"  @click="querylist(true)" for="btnradio1">Por Consultor</label>
          </div>
          <div>
            <label class="btn btn-outline-primary" @click="querylist(false)" for="btnradio2">Por Cliente</label>
          </div>
        </div>
      </div>
      <br>
       <!-- Table of Filter -->
      <table class="table table-bordered">
      <tbody>
        <tr class="table-primary">
          <td align="center" class="bg-primary">Período</td>
          <td align="center" style="width:50%" >
              <Datepicker
              v-model="finddate"
              name="finddate"
              type="date"
              id="finddate"
              placeholder="Select Date"
              />
          </td>
          <td align="center" rowspan="2">          
            <button
            @click="mod_report();
            typeview = 1;
            "
            class="btn btn-secondary btn-lg btn-block"
            >
            Relatório
          </button>
          <button
            @click="graph_report(true);
            typeview = 2;            "
            class="btn btn-secondary btn-lg btn-block"
            >
            Gráfico
          </button>
          <button
            @click="graph_report(false);
            typeview = 3;            "
            class="btn btn-secondary btn-lg btn-block"
            >
            Pizza
          </button>
        </td>
        </tr>
        <tr class="table-primary">
          <td align="center" class="bg-primary">{{ typeq }}</td>
          <td align="center" style="width:50%" >          
            <select
              name="consultor"
              v-model="consultor"
              id="formulario"
              class="form-select" 
              multiple aria-label="multiple select example"
              size="7"
            > 
              <option selected>Selecione vários com a tecla ctrl</option>
              <option
                v-for="queryl in querylis.data"
                v-bind:key="queryl.co_usuario"
                v-bind:value="queryl.co_usuario"
              >
            {{ queryl.no_usuario }} 
            </option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <div v-if="typeview == 1">
     <!-- Data type Table  <span v-for="(n,indice) in aceva.materia" :key="indice"> -->
     
    <table class="table">
       <td class="bg-info" align="center" colspan="5">
      </td>
        <thead >
          <tr class="bg-primary">
            <th scope="col">Período</th>
            <th scope="col">Receita Líquida</th>
            <th scope="col">Custo Fixo</th>
            <th scope="col">Comissão</th>
            <th scope="col">Lucro</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="quers in queryrep.data" :key="quers.co_usuario">
            <td>
              {{ quers.data_emissao  }}
            </td>
            <td >
              {{ quers.receta }}
            </td>
            <td>
               {{ quers.brut_salario }}
            </td>
            <td >
              {{ quers.comision }}
            </td>            
            <td >
              {{ quers.lucro  }}	
            </td>
          </tr>
        </tbody>
        <tfoot class="table-success">
          <td class="font-weight-bold">SALDO</td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tfoot>
      </table>
    </div>

    <div v-if="typeview == 2">
      <!-- Data type Chart Bar (n,indice) in alm.tipogrado_nom" :key="indice"-->
      <Bar
        :chart-options="BchartOptions"
        :chart-data="BchartData"
        :chart-id="BchartId"
        :dataset-id-key="BdatasetIdKey"
        :plugins="Bplugins"
        :css-classes="BcssClasses"
        :styles="Bstyles"
        :width="Bwidth"
        :height="Bheight"
      />
    </div>
    <div v-if="typeview == 3">
      <!-- Data type Chart Pie -->
      <Pie
        :chart-options="PchartOptions"
        :chart-data="PchartData"
        :chart-id="BchartId"
        :dataset-id-key="BdatasetIdKey"
        :plugins="Bplugins"
        :css-classes="BcssClasses"
        :styles="Bstyles"
        :width="Bwidth"
        :height="Bheight"
      />
    </div>

  </div>      
  
</template>

<script>
/*
******************************************
* Import Library
******************************************
*/

// Datapicker
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';

//Chart Bar and Pie
import { Bar } from 'vue-chartjs';
import { Pie } from 'vue-chartjs';

//Currency
import VueVisualFilter from '@visual-filter/vue3';

//Configure Iptions Chart
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale, ArcElement } from 'chart.js';
ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale, ArcElement);


export default {
  components: { 
    Datepicker, 
    Bar, 
    Pie,
    VueVisualFilter,
    },
    Bname: 'BarChart',
    Pname: 'PieChart',
    Bprops: {
      BchartId: {
        type: String,
        default: 'bar-chart'
      },
      BdatasetIdKey: {
        type: String,
        default: 'label'
      },
      Bwidth: {
        type: Number,
        default: 400
      },
      Bheight: {
        type: Number,
        default: 400
      },
      BcssClasses: {
        default: '',
        type: String
      },
      Bstyles: {
        type: Object,
        default: () => {}
      },
      Bplugins: {
        type: Object,
        default: () => {}
      }
    },
        
    propsP: {
      PchartId: {
        type: String,
        default: 'pie-chart'
      },
      Pwidth: {
        type: Number,
        default: 400
      },
      Pheight: {
        type: Number,
        default: 400
      },
      PcssClasses: {
        default: '',
        type: String
      },
      Pstyles: {
        type: Object,
        default: () => {}
      },
      Pplugins: {
        type: Object,
        default: () => {}
      }
    },  
  data() {
      return {
      querylis: { },
      queryrep: { },
      queryrepf: { },
      queryco_os: { },
      labelsbar: [],
      labelbar: '',
      databar: [],
      finddate: '',
      consultor: '',
      datafecha: '',
      datacons: '',
      typeq: 'Consultores',
      typeview: 0,  
      brut_salary: 0,  
      colors:  ['#41B883', '#E46651', '#00D8FF', '#DD1B16'],  
      BchartData: { },
      BchartOptions: {
        responsive: true
      },
      PchartData: { },
      PchartOptions: {
        responsive: true,
        maintainAspectRatio: false
      },

      }
    },
 
 methods: {

    //Formay date YYYY-DD-MM
    changedate(fecha, format) {

      const fech = new Date(fecha);
      const day = fech.getDate();
      const month = fech.getMonth() + 1;
      const year = fech.getFullYear();
    
      //replace the month
      format = format.replace("MM", month.toString().padStart(2,"0"));        

      //replace the year
      if (format.indexOf("yyyy") > -1) {
        format = format.replace("yyyy", year.toString());
      }else if (format.indexOf("yy") > -1) {
        format = format.replace("yy", year.toString().substr(2,2));
      }

      //replace the day
      format = format.replace("dd", day.toString().padStart(2,"0"));

      return format;
    },

    //List Consultor/Cliente
    async querylist(tipq) {
      this.finddate ='';
      this.datafecha ='';
      this.typeview = 0; 
      this.consultor = '';
      this.querylis = { };   

      if(tipq){
        this.typeq = 'Consultores';
        const rescons = await axios.get('/api/cao_usuario');
        this.querylis = rescons.data;
      }else{
        this.typeq = 'Clientes';
        this.querylis = { };
      }
    },

    async mod_report() {


      //Query Relatório
      // Finddate no Definida o Vacia
      if (!isNaN(this.finddate) || (this.finddate.length > 0)) {
        this.datafecha = this.changedate(this.finddate, 'yyyy-MM-dd');
      }
      if (this.finddate === "") {
        this.datafecha ='';
      }
      // Consultor no Definida o Vacia
      if (!isNaN(this.consultor) || (this.consultor.length > 0)) {
        this.datacons = this.consultor.toString();
      }
      if (this.consultor === "") {
        this.datacons ='';
      }

      // API CAO FACTURA
      const resrep = await axios.get('/api/cao_fatura/' , {
      params: {
            data_emissao: this.datafecha,
            consultors: this.datacons
        }
      });

      this.queryrep = resrep.data;

    },

    graph_report(tp){

      this.mod_report();


      //this.labelbar = this.queryrep.data[0].no_usuario;
      //Title
      this.labelbar = this.queryrep.data.map(function (qlabel) {

        return qlabel.no_usuario;
      });

      let labelbarf = this.labelbar.filter((item,index)=>{
      return this.labelbar.indexOf(item) === index;
      })
      
      //Etiquetas
      this.labelsbar = this.queryrep.data.map(function (qlabels) {

        return qlabels.data_emissao;
      });
      
      ///Datasets
      this.databar = this.queryrep.data.map(function (qdata) {
        return qdata.receta;
      });

      //Grafico Barra
      if (tp) {
        this.BchartData =  {
          labels:this.labelsbar,
          datasets: [ {
            backgroundColor: this.colors,
            label: labelbarf, 
            data: this.databar } 

          ]
        }
      }
      //Grafico Torta
      if (!tp) {
        this.PchartData = {
          labels: this.labelsbar,
          datasets: [ {
            backgroundColor: this.colors,
            data: this.databar } 
          ]
        }
      }
    },
  
    created() {
      this.querylist(true);
    },
  },
};
</script>

<style>
.mostrar {
  display: list-item;
  opacity: 1;
  background: rgba(75, 56, 143, 0.705);
}
</style>
